USE [HAREL_Live]
GO
/****** Object:  Table [dbo].[toAccounts]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toAccounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTypeID] [int] NULL,
	[ISOCode] [char](3) NULL,
	[AccountName] [varchar](100) NULL,
	[AccountCode] [varchar](20) NULL,
	[PartnerID] [int] NULL,
	[CreditController] [int] NULL,
	[OpenDate] [datetime] NULL,
	[StatusDate] [datetime] NULL,
	[MarketID] [int] NULL,
	[Agency] [bit] NULL,
	[CurrencyTypeID] [int] NULL,
	[LloydsPseudonym] [varchar](20) NULL,
	[Status] [int] NULL,
	[Defaulting] [bit] NULL,
	[NewDefaulting] [bit] NULL,
	[UnderwriterCode] [varchar](10) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUserID] [int] NULL,
	[LastUpdateDate] [datetime] NULL,
	[LastUpdateUserID] [int] NULL,
	[Ref1AccountID] [int] NULL,
	[Ref2AccountID] [int] NULL,
	[BankAccountID] [int] NULL,
	[SubAccountID] [int] NULL,
	[AccountStatusID] [int] NULL,
	[AccountPaymentMethodID] [int] NULL,
	[LORSCode] [varchar](20) NULL,
	[IsRiskTransfer] [tinyint] NULL,
	[IsMultiDepartment] [bit] NOT NULL,
	[StatementDeliveryMethod] [int] NULL,
	[StatementDeliveryAddress] [varchar](100) NULL,
	[RebateAccountID] [int] NULL,
	[FSARegulationStatusID] [int] NULL,
	[AccountingType] [tinyint] NULL,
	[AuthorisationNumber] [varchar](30) NULL,
	[UnderlyingUWrequired] [bit] NULL,
	[UWAccountType] [tinyint] NULL,
	[PoolPeriodFromDate] [datetime] NULL,
	[PoolPeriodToDate] [datetime] NULL,
	[IsStatementBasis] [bit] NULL,
	[ValidFrom] [datetime] NULL,
	[ValidTo] [datetime] NULL,
	[IsDefaultBankForISO] [bit] NOT NULL,
	[IsAcquisitionBroker] [bit] NULL,
	[RequestDate] [datetime] NULL,
	[ReviewDate] [datetime] NULL,
	[ExternalSystemID] [int] NULL,
	[AnonymizationDate] [datetime] NULL,
	[CommonAccountID] [int] NULL,
	[IsDefaultBankDivisional] [bit] NULL,
 CONSTRAINT [PK_toAccounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toApportionmentClaimTypes]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toApportionmentClaimTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeCode] [varchar](5) NOT NULL,
	[TypeName] [varchar](50) NULL,
 CONSTRAINT [PK_toApportionmentClaimTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toClientPayments]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toClientPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PostingTypeID] [int] NULL,
	[InstalmentNumber] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [numeric](18, 2) NULL,
	[ISOCode] [varchar](3) NULL,
	[ExchangeRate] [numeric](20, 12) NULL,
	[PremiumID] [int] NULL,
	[SettlementID] [int] NULL,
	[FullAmount] [numeric](18, 2) NULL,
	[UWDefaultPaymentDate] [datetime] NULL,
	[AccountID] [int] NULL,
	[PolicyID] [int] NULL,
	[AddendumID] [int] NULL,
	[ClaimID] [int] NULL,
	[IsReturn] [tinyint] NULL,
	[NetSettlementID] [int] NULL,
	[PPNPolicyStatementID] [int] NULL,
	[movementid] [int] NULL,
	[IsAgreedRate] [tinyint] NULL,
	[IsOverrideWarranties] [bit] NULL,
	[GrossAmount] [numeric](18, 2) NULL,
	[DiscountAmount] [numeric](18, 2) NULL,
	[InstalmentPercentage] [varchar](50) NULL,
 CONSTRAINT [PK_toClientPayments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toApportionment]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toApportionment](
	[ApportionmentID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[ApportionmentTypeID] [int] NULL,
	[CreditAccountID] [int] NULL,
	[CreditWho] [tinyint] NULL,
	[DebitAccountID] [int] NULL,
	[DebitWho] [tinyint] NULL,
	[Description] [varchar](250) NULL,
	[DefaultPercentage] [numeric](9, 6) NULL,
	[TransactionType] [varchar](10) NULL,
	[ISOCode] [varchar](3) NULL,
	[DefaultAmount] [numeric](18, 2) NULL,
	[IsIPT] [bit] NULL,
	[IsSurveyFee] [bit] NULL,
	[ExpertTypeID] [int] NULL,
	[IsIncludeInNetAmount] [bit] NULL,
	[TransactionTypeID] [int] NULL,
	[IsArchived] [bit] NULL,
	[ApportionmentSubTypeID] [int] NULL,
	[ApportionmentPayableByID] [int] NULL,
	[ApportionmentAdministeredByID] [int] NULL,
	[IsVAT] [bit] NULL,
 CONSTRAINT [PK_ApportionmentID] PRIMARY KEY CLUSTERED 
(
	[ApportionmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toApportionmentClientSettl]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toApportionmentClientSettl](
	[ApportionmentSettlementID] [int] IDENTITY(1,1) NOT NULL,
	[SettlementID] [int] NULL,
	[ApportionmentID] [int] NULL,
	[ApportionmentClaimTypeID] [int] NOT NULL,
	[Percentage] [numeric](9, 6) NULL,
	[ISOCode] [varchar](3) NULL,
	[Amount] [numeric](18, 2) NULL,
	[DebitAccountID] [int] NULL,
	[CreditAccountID] [int] NULL,
	[FeeTypeApportionmentID] [int] NULL,
	[ExpertID] [int] NULL,
	[Reference] [varchar](40) NULL,
 CONSTRAINT [PK_toApportionmentClientSettl] PRIMARY KEY CLUSTERED 
(
	[ApportionmentSettlementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toPostingTypes]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toPostingTypes](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](2) NOT NULL,
	[Description] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toClaimTransactionPayments]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toClaimTransactionPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[MovementID] [int] NOT NULL,
	[ClientPaymentID] [int] NULL,
	[UnderwriterPaymentID] [int] NULL,
	[UnderwriterPolicyID] [int] NULL,
	[AccountID] [int] NOT NULL,
	[Amount] [numeric](18, 2) NOT NULL,
	[ApportionmentSettlementID] [int] NULL,
	[SplitEODQueueItemID] [int] NULL,
	[DeclarationID] [int] NULL,
	[EODQueueID] [int] NULL,
	[IsFee] [tinyint] NULL,
	[RoundingError] [numeric](18, 2) NULL,
	[IsExcludeByDS] [tinyint] NULL,
 CONSTRAINT [PK_toClaimTransactionPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toAccountTypes]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toAccountTypes](
	[AccountTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Code] [varchar](10) NULL,
 CONSTRAINT [PK_toAccountTypes] PRIMARY KEY CLUSTERED 
(
	[AccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[tovw_ClientClaimTransactionPayments]    Script Date: 16/07/2026 18:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*=================================================
Returns the Client Transaction Payments

Author: Alexey Shevelev
=================================================*/
create view [dbo].[tovw_ClientClaimTransactionPayments]
as
	
select	
	cp.NetSettlementID as SettlementID,
	sum(case when isnull(p.IsFee, 0) = 0 and p.ApportionmentSettlementID is null and pt.Code in ('CM', 'RF') then p.Amount else 0.0 end) as PaidClaim,
	sum(case when isnull(p.IsFee, 0) = 1 and p.ApportionmentSettlementID is null and pt.Code in ('CM', 'RF') then p.Amount else 0.0 end) as PaidFees,
	sum(case when isnull(p.IsFee, 0) = 0 and pt.Code = 'OS' then p.Amount else 0.0 end) as Outstanding,
	sum(case when isnull(p.IsFee, 0) = 1 and pt.Code = 'OS' then p.Amount else 0.0 end) as OutstandingFees,
	sum(case when isnull(act.TypeCode, '') = 'PC' then p.Amount else 0.0 end) as ApportionmentPaidClaim,
	sum(case when isnull(act.TypeCode, '') = 'PFS' then p.Amount else 0.0 end) as ApportionmentPaidFees,
	sum(case when at.Code = 'C' and isnull(act.TypeCode, '') = 'CS' then p.Amount else 0.0 end) as ApportionmentCommission,
	sum(case when at.Code = 'C' and isnull(act.TypeCode, '') = 'FW' then p.Amount else 0.0 end) as ApportionmentFundsWithheld,
	sum(case when isnull(act.TypeCode, '') = 'CS' then p.Amount else 0.0 end) as ApportionmentCommissionAll,
	sum(abs(case when isnull(act.TypeCode, '') = 'PC' and (at.Code = 'T' or acs.DebitAccountID is not null or acs.CreditAccountID is not null) and pt.Code <> 'OS' then p.Amount else 0.0 end)) as PaidClaimTP,
	sum(abs(case when isnull(act.TypeCode, '') = 'PFS' and (at.Code = 'T' or acs.DebitAccountID is not null or acs.CreditAccountID is not null) and pt.Code <> 'OS' then p.Amount else 0.0 end)) as PaidFeesTP,
	sum(case when isnull(act.TypeCode, '') = 'CS' and (at.Code = 'T' or acs.DebitAccountID is not null or acs.CreditAccountID is not null) and pt.Code <> 'OS' then p.Amount else 0.0 end) as ApportionmentCommissionTP,
	sum(case when isnull(act.TypeCode, '') = 'PC' and (app.CreditWho = 1 or app.DebitWho = 1) then p.Amount else 0.0 end) as ApportionmentClientPaidClaim,
	sum(case when isnull(act.TypeCode, '') = 'PFS' and (app.CreditWho = 1 or app.DebitWho = 1) then p.Amount else 0.0 end) as ApportionmentClientPaidFees
from toClaimTransactionPayments p
inner join toClientPayments cp on cp.PaymentID = p.ClientPaymentID
inner join toPostingTypes pt on pt.PaymentTypeID = cp.PostingTypeID
inner join toAccounts a on a.AccountID = p.AccountID
inner join toAccountTypes at on at.AccountTypeID = a.AccountTypeID
left join toApportionmentClientSettl acs on acs.ApportionmentSettlementID = p.ApportionmentSettlementID
left join toApportionmentClaimTypes act on act.TypeID = acs.ApportionmentClaimTypeID
left join toApportionment app on app.ApportionmentID = acs.ApportionmentID
group by cp.NetSettlementID
GO
ALTER TABLE [dbo].[toAccounts] ADD  CONSTRAINT [DF_toAccounts_AccountTypeID]  DEFAULT ((0)) FOR [AccountTypeID]
GO
ALTER TABLE [dbo].[toAccounts] ADD  CONSTRAINT [DF_toAccounts_ISOCode]  DEFAULT (space((0))) FOR [ISOCode]
GO
ALTER TABLE [dbo].[toAccounts] ADD  DEFAULT ((0)) FOR [IsMultiDepartment]
GO
ALTER TABLE [dbo].[toAccounts] ADD  DEFAULT ((0)) FOR [IsDefaultBankForISO]
GO
ALTER TABLE [dbo].[toAccounts]  WITH NOCHECK ADD  CONSTRAINT [FK_toAccounts_CommonAccounts] FOREIGN KEY([CommonAccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_CommonAccounts]
GO
ALTER TABLE [dbo].[toAccounts]  WITH CHECK ADD  CONSTRAINT [FK_toAccounts_toAccountPaymentMethods] FOREIGN KEY([AccountPaymentMethodID])
REFERENCES [dbo].[toAccountPaymentMethods] ([MethodID])
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toAccountPaymentMethods]
GO
ALTER TABLE [dbo].[toAccounts]  WITH NOCHECK ADD  CONSTRAINT [FK_toAccounts_toAccountsRef1] FOREIGN KEY([Ref1AccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toAccountsRef1]
GO
ALTER TABLE [dbo].[toAccounts]  WITH NOCHECK ADD  CONSTRAINT [FK_toAccounts_toAccountsRef2] FOREIGN KEY([Ref2AccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toAccountsRef2]
GO
ALTER TABLE [dbo].[toAccounts]  WITH NOCHECK ADD  CONSTRAINT [FK_toAccounts_toAccountsSubAccount] FOREIGN KEY([SubAccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toAccountsSubAccount]
GO
ALTER TABLE [dbo].[toAccounts]  WITH CHECK ADD  CONSTRAINT [FK_toAccounts_toAccountTypes] FOREIGN KEY([AccountTypeID])
REFERENCES [dbo].[toAccountTypes] ([AccountTypeID])
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toAccountTypes]
GO
ALTER TABLE [dbo].[toAccounts]  WITH NOCHECK ADD  CONSTRAINT [FK_toAccounts_toBankAccounts] FOREIGN KEY([BankAccountID])
REFERENCES [dbo].[toBankAccounts] ([BankAccountID])
GO
ALTER TABLE [dbo].[toAccounts] NOCHECK CONSTRAINT [FK_toAccounts_toBankAccounts]
GO
ALTER TABLE [dbo].[toAccounts]  WITH NOCHECK ADD  CONSTRAINT [FK_toAccounts_toFSARegulationStatuses] FOREIGN KEY([FSARegulationStatusID])
REFERENCES [dbo].[toFSARegulationStatuses] ([FSARegulationStatusID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toFSARegulationStatuses]
GO
ALTER TABLE [dbo].[toAccounts]  WITH CHECK ADD  CONSTRAINT [FK_toAccounts_toMarketTypes] FOREIGN KEY([MarketID])
REFERENCES [dbo].[toMarketTypes] ([MarketID])
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toMarketTypes]
GO
ALTER TABLE [dbo].[toAccounts]  WITH CHECK ADD  CONSTRAINT [FK_toAccounts_toPartners] FOREIGN KEY([PartnerID])
REFERENCES [dbo].[toPartners] ([PartnerID])
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toPartners]
GO
ALTER TABLE [dbo].[toAccounts]  WITH CHECK ADD  CONSTRAINT [FK_toAccounts_toRebateAccounts] FOREIGN KEY([RebateAccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
GO
ALTER TABLE [dbo].[toAccounts] CHECK CONSTRAINT [FK_toAccounts_toRebateAccounts]
GO
ALTER TABLE [dbo].[toApportionment]  WITH CHECK ADD  CONSTRAINT [FK_Apportionment_TransactionTypes] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[toTransactionTypes] ([TransactionTypeID])
GO
ALTER TABLE [dbo].[toApportionment] CHECK CONSTRAINT [FK_Apportionment_TransactionTypes]
GO
ALTER TABLE [dbo].[toApportionment]  WITH CHECK ADD  CONSTRAINT [FK_toApportionment_toAccounts] FOREIGN KEY([CreditAccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
GO
ALTER TABLE [dbo].[toApportionment] CHECK CONSTRAINT [FK_toApportionment_toAccounts]
GO
ALTER TABLE [dbo].[toApportionment]  WITH CHECK ADD  CONSTRAINT [FK_toApportionment_toAccounts1] FOREIGN KEY([DebitAccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
GO
ALTER TABLE [dbo].[toApportionment] CHECK CONSTRAINT [FK_toApportionment_toAccounts1]
GO
ALTER TABLE [dbo].[toApportionment]  WITH CHECK ADD  CONSTRAINT [FK_toApportionment_toApportionmentSubTypes] FOREIGN KEY([ApportionmentSubTypeID])
REFERENCES [dbo].[toApportionmentSubTypes] ([ApportionmentSubTypeID])
GO
ALTER TABLE [dbo].[toApportionment] CHECK CONSTRAINT [FK_toApportionment_toApportionmentSubTypes]
GO
ALTER TABLE [dbo].[toApportionment]  WITH CHECK ADD  CONSTRAINT [FK_toApportionment_toApportionmentType] FOREIGN KEY([ApportionmentTypeID])
REFERENCES [dbo].[toApportionmentType] ([ApportionmentTypeID])
GO
ALTER TABLE [dbo].[toApportionment] CHECK CONSTRAINT [FK_toApportionment_toApportionmentType]
GO
ALTER TABLE [dbo].[toApportionmentClientSettl]  WITH CHECK ADD  CONSTRAINT [FK_toApportionmentClientSettl_to_FeeTypes] FOREIGN KEY([FeeTypeApportionmentID])
REFERENCES [dbo].[toApportionment] ([ApportionmentID])
GO
ALTER TABLE [dbo].[toApportionmentClientSettl] CHECK CONSTRAINT [FK_toApportionmentClientSettl_to_FeeTypes]
GO
ALTER TABLE [dbo].[toApportionmentClientSettl]  WITH NOCHECK ADD  CONSTRAINT [FK_toApportionmentClientSettl_toAccounts] FOREIGN KEY([CreditAccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toApportionmentClientSettl] CHECK CONSTRAINT [FK_toApportionmentClientSettl_toAccounts]
GO
ALTER TABLE [dbo].[toApportionmentClientSettl]  WITH CHECK ADD  CONSTRAINT [FK_toApportionmentClientSettl_toApportionment] FOREIGN KEY([ApportionmentID])
REFERENCES [dbo].[toApportionment] ([ApportionmentID])
GO
ALTER TABLE [dbo].[toApportionmentClientSettl] CHECK CONSTRAINT [FK_toApportionmentClientSettl_toApportionment]
GO
ALTER TABLE [dbo].[toApportionmentClientSettl]  WITH NOCHECK ADD  CONSTRAINT [FK_toApportionmentClientSettl_toApportionmentClaimTypes] FOREIGN KEY([ApportionmentClaimTypeID])
REFERENCES [dbo].[toApportionmentClaimTypes] ([TypeID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toApportionmentClientSettl] NOCHECK CONSTRAINT [FK_toApportionmentClientSettl_toApportionmentClaimTypes]
GO
ALTER TABLE [dbo].[toApportionmentClientSettl]  WITH NOCHECK ADD  CONSTRAINT [FK_toApportionmentClientSettl_toClaimExperts] FOREIGN KEY([ExpertID])
REFERENCES [dbo].[toClaimExperts] ([ExpertID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toApportionmentClientSettl] CHECK CONSTRAINT [FK_toApportionmentClientSettl_toClaimExperts]
GO
ALTER TABLE [dbo].[toApportionmentClientSettl]  WITH NOCHECK ADD  CONSTRAINT [FK_toApportionmentClientSettl_toClientSettls] FOREIGN KEY([SettlementID])
REFERENCES [dbo].[toClientSettls] ([SettlementID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toApportionmentClientSettl] NOCHECK CONSTRAINT [FK_toApportionmentClientSettl_toClientSettls]
GO
ALTER TABLE [dbo].[toApportionmentClientSettl]  WITH NOCHECK ADD  CONSTRAINT [FK_toApportionmentClientSettl_toDebitAccounts] FOREIGN KEY([DebitAccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toApportionmentClientSettl] CHECK CONSTRAINT [FK_toApportionmentClientSettl_toDebitAccounts]
GO
ALTER TABLE [dbo].[toClaimTransactionPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClaimTransactionPayments_toAccounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
GO
ALTER TABLE [dbo].[toClaimTransactionPayments] CHECK CONSTRAINT [FK_toClaimTransactionPayments_toAccounts]
GO
ALTER TABLE [dbo].[toClaimTransactionPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClaimTransactionPayments_toApportionmentClientSettl] FOREIGN KEY([ApportionmentSettlementID])
REFERENCES [dbo].[toApportionmentClientSettl] ([ApportionmentSettlementID])
GO
ALTER TABLE [dbo].[toClaimTransactionPayments] CHECK CONSTRAINT [FK_toClaimTransactionPayments_toApportionmentClientSettl]
GO
ALTER TABLE [dbo].[toClaimTransactionPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClaimTransactionPayments_toClientPayments] FOREIGN KEY([ClientPaymentID])
REFERENCES [dbo].[toClientPayments] ([PaymentID])
GO
ALTER TABLE [dbo].[toClaimTransactionPayments] CHECK CONSTRAINT [FK_toClaimTransactionPayments_toClientPayments]
GO
ALTER TABLE [dbo].[toClaimTransactionPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClaimTransactionPayments_toClosingDeclarations] FOREIGN KEY([DeclarationID])
REFERENCES [dbo].[toClosingDeclarations] ([DeclarationID])
GO
ALTER TABLE [dbo].[toClaimTransactionPayments] CHECK CONSTRAINT [FK_toClaimTransactionPayments_toClosingDeclarations]
GO
ALTER TABLE [dbo].[toClaimTransactionPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClaimTransactionPayments_toEODQueue] FOREIGN KEY([EODQueueID])
REFERENCES [dbo].[toEODQueue] ([EODQueueID])
GO
ALTER TABLE [dbo].[toClaimTransactionPayments] CHECK CONSTRAINT [FK_toClaimTransactionPayments_toEODQueue]
GO
ALTER TABLE [dbo].[toClaimTransactionPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClaimTransactionPayments_toMovements] FOREIGN KEY([MovementID])
REFERENCES [dbo].[toMovements] ([MovementID])
GO
ALTER TABLE [dbo].[toClaimTransactionPayments] CHECK CONSTRAINT [FK_toClaimTransactionPayments_toMovements]
GO
ALTER TABLE [dbo].[toClaimTransactionPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClaimTransactionPayments_toUnderwriterPayments] FOREIGN KEY([UnderwriterPaymentID])
REFERENCES [dbo].[toUnderwriterPayments] ([PaymentID])
GO
ALTER TABLE [dbo].[toClaimTransactionPayments] CHECK CONSTRAINT [FK_toClaimTransactionPayments_toUnderwriterPayments]
GO
ALTER TABLE [dbo].[toClaimTransactionPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClaimTransactionPayments_toUnderwriterPolicy] FOREIGN KEY([UnderwriterPolicyID])
REFERENCES [dbo].[toUnderwriterPolicy] ([UnderwriterPolicyID])
GO
ALTER TABLE [dbo].[toClaimTransactionPayments] CHECK CONSTRAINT [FK_toClaimTransactionPayments_toUnderwriterPolicy]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toAccounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[toAccounts] ([AccountID])
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toAccounts]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toAddendums] FOREIGN KEY([AddendumID])
REFERENCES [dbo].[toAddendums] ([AddendumID])
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toAddendums]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toClaims] FOREIGN KEY([ClaimID])
REFERENCES [dbo].[toClaims] ([ClaimID])
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toClaims]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toClientPremiums] FOREIGN KEY([PremiumID])
REFERENCES [dbo].[toClientPremiums] ([PremiumID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toClientPremiums]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH NOCHECK ADD  CONSTRAINT [FK_toClientPayments_toClientSettlements] FOREIGN KEY([SettlementID])
REFERENCES [dbo].[toClientSettlements] ([SettlementID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toClientSettlements]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toClientSettls] FOREIGN KEY([NetSettlementID])
REFERENCES [dbo].[toClientSettls] ([SettlementID])
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toClientSettls]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toMasterPolicy] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[toMasterPolicy] ([PolicyID])
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toMasterPolicy]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toMovements] FOREIGN KEY([movementid])
REFERENCES [dbo].[toMovements] ([MovementID])
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toMovements]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toPostingTypes] FOREIGN KEY([PostingTypeID])
REFERENCES [dbo].[toPostingTypes] ([PaymentTypeID])
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toPostingTypes]
GO
ALTER TABLE [dbo].[toClientPayments]  WITH CHECK ADD  CONSTRAINT [FK_toClientPayments_toPPNPolicyStatements] FOREIGN KEY([PPNPolicyStatementID])
REFERENCES [dbo].[toPPNPolicyStatements] ([PPNPolicyStatementID])
GO
ALTER TABLE [dbo].[toClientPayments] CHECK CONSTRAINT [FK_toClientPayments_toPPNPolicyStatements]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IBA Account = 0; Client = 1; Underwriter = 2; Brokerage = 3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'toApportionment', @level2type=N'COLUMN',@level2name=N'CreditWho'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IBA Account = 0; Client = 1; Underwriter = 2; Brokerage = 3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'toApportionment', @level2type=N'COLUMN',@level2name=N'DebitWho'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'P - Original premium; E - Additional and return premium; A - Adjustment Premium; C- Claim and Refund; R - Reinstatement Premium; T- Treaty Balance
Reinstatement Premium; T - Treaty Balance' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'toApportionment', @level2type=N'COLUMN',@level2name=N'TransactionType'
GO
